<form action="/login" method="post">  <input name="username" placeholder="username"></input>  <input type="password" name="password" placeholder="password"></input>  <input type="submit" value="log in"></input></form>
