<label for="name">Name:</label>
<input id="name" name="student[name]" type="text" value="<%= ::Temple::Utils.escape_html((@student.name)) %>" />

<label for="age">Age:</label>
<input id="age" name="student[age]" type="number" value="<%= ::Temple::Utils.escape_html((@student.age)) %>" />

<label for="birth_date">Date Of Birth (mm/dd/yyyy):</label>
<input id="birth_date" name="student[birth_date]" type="text" value="<%= ::Temple::Utils.escape_html((@student.birth_date.strftime("%m/%d/%Y") if @student.birth_date)) %>" />

<label for="bio">Bio:</label>
<textarea id="bio" name="student[bio]"><%= @student.bio %>

</textarea><input type="submit" value="Save Student" />
